html {
  background-color: #998433;
}
body {
  width: 800px;
  margin: 0 auto;
  background-color: #996633;
  padding: 0 20px 20px 20px;
  border: 5px solid #926A2F;
}
h1 {
  margin: 0;
  padding: 40px 0;
  color: #7FBF3F;
  text-shadow: 3px 3px 1px #926A2F;
  font-size: 80px;
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
}

p {font-family: "Open Roboto", sans-serif;
}
body,a{color: white;
}

a:hover {
  color: #D2CFCF;
}

/*Esto es un comentario de varias líneas.
*/